<template>
  <div>
    <p
      class="
        d-flex
        justify-space-between
        align-center
        poppins
        text-uppercase
        mb-0
        text-12
      "
    >
      <span>{{ title }}</span>
      <span>{{ value }}%</span>
    </p>
    <v-progress-linear
      :color="color"
      rounded
      :value="value"
    ></v-progress-linear>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: "secondary",
    },
    value: {
      type: [Number, String],
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.text-12 {
  font-size: 12px !important;
}
</style>