<i18n>
{
  "es": {
    "title": {
      "crypto": "Todavia no invertiste en Criptomonedas.",
      "business": "Todavia no invertiste en Negocios.",
      "fix_rent": "Todavia no invertiste en Renta.",
      "stable_coin": "Todavia no invertiste en Stablecoins."
    },
    "subtitle": "Invierte hoy y empieza a diversificar tus ahorros.",
    "button": "Invertir"
  },
  "es-AR": {
    "subtitle": "Invertí hoy y comenzá a diversificar tus ahorros."
  }
}
</i18n>

<template>
  <v-container fluid class="pa-md-10">
    <v-row align="center">
      <v-col cols="12" md="6">
        <p class="text-h6 font-weight-bold mb-0">
          <span class="poppins">{{ $t(`title.${portfolioType}`) }}</span>
        </p>
        <p class="text-body-1">
          {{ $t("subtitle") }}
        </p>
        <v-btn
          v-if="!$vuetify.breakpoint.smAndDown"
          class="mt-4"
          color="secondary"
          width="150px"
          :to="investUrl"
        >
          {{ $t("button") }}
        </v-btn>
      </v-col>
      <v-col cols="12" md="6" class="px-md-0">
        <v-img
          :src="require(`../../../assets/img/empty/${this.portfolioType}.svg`)"
          height="110px"
          width="auto"
          :alt="portfolioType"
          contain
          position="left center"
        ></v-img>
      </v-col>
      <v-col v-if="$vuetify.breakpoint.smAndDown" cols="12">
        <v-btn class="mt-4" color="secondary" block :to="investUrl">
          {{ $t("button") }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("portfolioModule", ["portfolioType"]),
    investUrl() {
      switch (this.portfolioType) {
        case "fix_rent":
          return "/crypto-opportunities";
        case "business":
          return "/projects";
        case "stable_coin":
          return { path: '/criptomonedas', query : { cat: "55"}};
        default:
          return "/criptomonedas";
      }
    },
  },
};
</script>
