<i18n>
{
  "es": {
    "title": "Saldo Valorizado",
    "currencies": "Monedas",
    "help_value": "El saldo valorizado se conforma por la última cotización de los tokens en cartera, no representa saldo retirable ni saldo en moneda FIAT."
  }
}
</i18n>
<template>
  <v-container v-if="valuedBalance" fluid>
    <v-row v-if="valuedBalance.totalAmounts[selectedCurrency] > 0">
      <v-col cols="12" md="4">
        <div class="d-flex align-center mb-1">
          <p class="poppins text-subtitle-2 text-md-subtitle-1 mb-0 mr-2">
            {{ $t("title") }}
          </p>
          <div class="vertical-line"></div>
          <div style="max-width: 40%">
            <v-select
              v-model="selectedCurrency"
              :items="userCurrencies"
              :loading="userCurrencies.length <= 0"
              class="poppins"
              :label="$t('currencies')"
              append-icon="mdi-chevron-down"
              color="black"
              item-color="secondary"
              solo
              flat
              single-line
              hide-details
              dense
            ></v-select>
          </div>
        </div>
        <div class="d-flex align-end mb-1">
          <span class="text-h4 text-md-h3 font-weight-bold mr-2">
            {{
              currencyFormat(
                valuedBalance.totalAmounts[selectedCurrency],
                "custom",
                2
              )
            }}
          </span>
          <div class="d-flex align-center text-subtitle-1 text-md-h6">
            <span>{{ selectedCurrency }}</span>
            <!--
            <div class="ml-2 mt-n1">
              <v-img
                src="../../../assets/img/icons/questionmark.circle.svg"
                :height="$vuetify.breakpoint.smAndDown ? 15 : 20"
                :width="$vuetify.breakpoint.smAndDown ? 15 : 20"
              ></v-img>
            </div>
            -->
            <v-tooltip bottom max-width="300px">
              <template v-slot:activator="{ on }">
                <v-icon v-on="on" class="mt-n1 ml-1" color="black" :size="20"
                  >mdi-help-circle-outline</v-icon
                >
              </template>
              <span>{{ $t("help_value") }}</span>
            </v-tooltip>
          </div>
        </div>
        <p
          :style="{ fontSize: $vuetify.breakpoint.smAndDown ? '14px' : '18px' }"
          class="font-weight-bold"
        >
          <span :class="['mr-1', percentageFormat.color + '--text']">
            {{ variationsTitle }}
          </span>
          <span class="grey--text text--darken-1">24hs</span>
        </p>
      </v-col>
      <v-col v-if="chartData.length > 0" cols="12" md="3">
        <DoughnutChart :chartData="destructuredData" :style="myStyles" />
      </v-col>
      <v-col v-if="chartData.length > 0" cols="12" md="5">
        <template v-for="(item, index) in chartData">
          <LineChart
            :key="index"
            class="mt-2"
            :title="item.title"
            :value="currencyFormat(item.percentage, 'custom', 2)"
            :color="item.color"
          />
        </template>
      </v-col>
    </v-row>
    <v-row v-else>
      <EmptyInvest />
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import DoughnutChart from "./valued-balance/DoughnutChart.vue";
import LineChart from "./valued-balance/LineChart.vue";
import EmptyInvest from "./EmptyInvest.vue";

export default {
  components: {
    DoughnutChart,
    LineChart,
    EmptyInvest,
  },
  computed: {
    ...mapState("portfolioModule", [
      "valuedBalance",
      "userCurrencies",
      "chartData",
    ]),
    selectedCurrency: {
      get() {
        return this.$store.getters["portfolioModule/selectedCurrency"];
      },
      set(val) {
        this.$store.commit("portfolioModule/SET_SELECTED_CURRENCY", val);
      },
    },
    myStyles() {
      return {
        height: "150px",
        position: "relative",
      };
    },
    destructuredData() {
      return this.chartData.reduce(
        (acum, item) => {
          acum.labels.push(item.title);
          acum.datasets[0].backgroundColor.push(item.color);
          acum.datasets[0].data.push(Number(item.percentage));
          return acum;
        },
        { labels: [], datasets: [{ backgroundColor: [], data: [] }] }
      );
    },
    variationsTitle() {
      if (this.valuedBalance.variations) {
        const amount =
          this.valuedBalance.variations.amounts[this.selectedCurrency] || 0;

        return `${this.currencyFormat(amount, "custom", 4)} ${
          this.selectedCurrency
        } (${this.percentageFormat.value})`;
      }
      return `0,00 (0,00%)`;
    },
    percentageFormat() {
      if (this.valuedBalance.variations) {
        const original =
          this.valuedBalance.variations.percentage[this.selectedCurrency] || 0;
        let percentage = 0;
        if (typeof original == "string") {
          percentage = parseFloat(
            Number(original.replace(",", ".")).toFixed(2)
          );
        }

        return {
          color: percentage > 0 ? "primary" : percentage < 0 ? "red" : "info",
          value: `${this.currencyFormat(original, "custom", 2)}%`,
        };
      } else {
        return {
          color: "info",
          value: `${this.currencyFormat(0, "custom", 2)}%`,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.vertical-line {
  position: relative;
  width: 1px;

  &::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 2px;
    top: -9px;
    border-left: 2px solid black;
  }
}
.text-md-h3 {
  letter-spacing: -0.03em !important;
}
</style>