<i18n>
{
  "es": {
    "title": "Portfolio",
    "subtitle": "Controla la actividad diaria de tus inversiones",
    "cryptos": "Criptos",
    "stablecoins": "Stablecoins",
    "business": "Negocios",
    "rents": "Rentas"
  },
  "es-AR": {
    "subtitle": "Controlá la actividad diaria de tus inversiones"
  },
  "en": {
    "title": "Portfolio",
    "subtitle": "Controla la actividad diaria de tus inversiones",
    "cryptos": "Cryptos",
    "stablecoins": "Stablecoins",
    "business": "Business",
    "rents": "Rents"
  }
}
</i18n>
<template>
  <LayoutContent paddingless>
    <template #header-left>
      <div class="d-flex flex-column justify-center">
        <span
          class="
            poppins
            secondary--text
            font-weight-semibold
            text-center text-md-left
          "
          :style="
            !$vuetify.breakpoint.smAndDown
              ? 'font-size: 24px'
              : 'font-size: 16px'
          "
        >
          {{ $t("title") }}
        </span>
        <span
          v-if="!$vuetify.breakpoint.smAndDown"
          class="text-subtitle-2 black--text font-weight-semibold"
        >
          {{ $t("subtitle") }}
        </span>
      </div>
    </template>
    <v-container class="pb-0 pt-3 px-0 px-md-3" fluid>
      <v-tabs
        v-model="portfolioType"
        :grow="$vuetify.breakpoint.smAndDown"
        :show-arrows="false"
        :height="$vuetify.breakpoint.smAndDown ? '40px' : '60px'"
        background-color="transparent"
        active-class="status-activated"
      >
        <v-tabs-slider color="secondary"></v-tabs-slider>
        <template v-for="(item, index) in tabs">
          <v-tab
            v-if="item.show"
            :key="index"
            :href="`#${item.id}`"
            class="tab-border-bottom text-none poppins"
            :style="
              $vuetify.breakpoint.smAndDown
                ? 'font-size: 12px'
                : 'font-size: 16px'
            "
            v-text="item.title"
          >
          </v-tab>
        </template>
      </v-tabs>
    </v-container>
    <v-divider class="custom-divider mb-2"></v-divider>
    <v-container fluid>
      <template v-if="!loading">
        <ValuedBalance />
      </template>
      <v-card
        v-else
        class="d-flex align-center justify-center elevation-0"
        color="transparent"
        height="300px"
      >
        <v-progress-circular
          indeterminate
          color="secondary"
        ></v-progress-circular>
      </v-card>
    </v-container>
  </LayoutContent>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import { LayoutContent } from "ui-components";
import ValuedBalance from "../components/ValuedBalance.vue";

export default {
  components: {
    LayoutContent,
    ValuedBalance,
  },
  computed: {
    ...mapState("portfolioModule", ["loading"]),
    ...mapGetters("user", ["isOldUser"]),
    portfolioType: {
      get() {
        return this.$store.getters["portfolioModule/portfolioType"];
      },
      async set(val) {
        this.$store.commit("portfolioModule/SET_PORTFOLIO_TYPE", val);
        await this.getValuedBalance(val);
      },
    },
    tabs() {
      return [
        { title: this.$t("cryptos"), id: "crypto", show: true },
        { title: this.$t("stablecoins"), id: "stable_coin", show: true },
        { title: this.$t("business"), id: "business", show: this.isOldUser },
        { title: this.$t("rents"), id: "fix_rent", show: this.isOldUser },
      ]
    }
  },
  methods: {
    ...mapActions("portfolioModule", ["getValuedBalance", "getUserCurrencies"]),
  },
  async beforeMount() {
    await this.getUserCurrencies();
    await this.getValuedBalance();
  },
};
</script>

<style lang="scss" scoped>
.tab-border-bottom {
  letter-spacing: unset;
  min-width: unset !important;
}
.status-activated {
  color: black !important;
  font-weight: 700 !important;
}
::v-deep .v-tabs-slider-wrapper {
  height: 3px !important;
}
::v-deep .v-tab:not(.v-tab--active) {
  color: #757575 !important;
  font-weight: 500 !important;
}
::v-deep .v-slide-group__next,
::v-deep .v-slide-group__prev {
  display: none !important;
}
.custom-divider {
  border-color: rgba(77, 77, 77, 0.38) !important;
  margin-top: -2px;
}
</style>